{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="row no-gutters">
            <div class="col-4">
                <img class="img-fluid" src="https://via.placeholder.com/350x150">
            </div>
            <div class="col-8 bg-white">
                <h1>
                    Boot naam
                </h1>
                <p>
                    Boot informatie. Lorem shit enzo. <br />
                    <span class="badge badge-info">Boot is niet beschikbaar.</span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}