{% extends 'base.html.twig' %}

{% block title %}
    Zeilschool De Waai
{% endblock %}

{% block body %}
    <div class="row no-gutters mt-3">
        {# Begin boat section #}
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-7 bg-white p-3">
            <div class="boat-block">
                <h1>Hendrica</h1>
                {{ form(form) }}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-2">
                        <img class="img-fluid rounded" src="../assets/img/hendrica.jpg" alt="Hendrica zeilboot">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                        <p>De houten zestienkwadraat is nog steeds een populaire wedstrijdklasse. Het is de grootste nationale wedstrijdklasse. Aan kampioenschappen doen tegenwoordig tussen 50 - 70 schepen mee. Inmiddels worden de boten ook vaak van polyester gebouwd, omdat dat goedkoper is en omdat ze veel minder gevoelig zijn voor onderhoud.</p>
                    </div>
                </div>
            </div>
            <div class="boat-block">
                <h1>Hendrica</h1>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-2">
                        <img class="img-fluid rounded" src="../assets/img/hendrica.jpg" alt="Hendrica zeilboot">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                        <p>De houten zestienkwadraat is nog steeds een populaire wedstrijdklasse. Het is de grootste nationale wedstrijdklasse. Aan kampioenschappen doen tegenwoordig tussen 50 - 70 schepen mee. Inmiddels worden de boten ook vaak van polyester gebouwd, omdat dat goedkoper is en omdat ze veel minder gevoelig zijn voor onderhoud.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 p-3">
            <div class="registration-block p-3 rounded">
                <h1>Schrijf je in voor een cursus!</h1>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control datepicker" id="date" name="date">
                        <label for="date">
                            <small class="text-muted">
                                Gewenste datum
                            </small>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="first-name" name="first-name">
                        <label for="first-name">
                            <small class="text-muted">
                                Voornaam
                            </small>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="last-name" name="last-name">
                        <label for="last-name">
                            <small class="text-muted">
                                Achternaam
                            </small>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <div class="form-row pl-1">
                            <div class="col-5 col-sm-2">
                                <input type="radio" class="form-check-input" id="male" name="gender" value="man">
                                <label for="male">
                                    <small class="text-muted">
                                        Man
                                    </small>
                                </label>
                            </div>
                            <div class="col-5 col-sm-2">
                                <input type="radio" class="form-check-input" id="female" name="gender" value="vrouw">
                                <label for="female">
                                    <small class="text-muted">
                                        Vrouw
                                    </small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control birthdate-picker" id="birth-date" name="birth-date">
                        <label for="birt-date">
                            <small class="text-muted">
                                Geboortedatum
                            </small>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="birthplace" name="birthplace">
                        <label for="birthplace">
                            <small class="text-muted">
                                Geboorteplaats
                            </small>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" name="address">
                        <label for="address">
                            <small class="text-muted">
                                Adres
                            </small>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="zip-code" name="zip-code">
                        <label for="zip-code">
                            <small class="text-muted">
                                Postcode
                            </small>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" name="city">
                        <label for="city">
                            <small class="text-muted">
                                Woonplaats
                            </small>
                        </label>
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" class="btn btn-info" name="register">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}